<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Go wasm</title>
  <link rel="icon" type="image/jpg" href="favicon.jpg">
  <style>
    body {
      background-color:black;
      color:white;
    }
  </style>
</head>

<body>
  <performance/>
</body>

</html>